@import "tailwindcss";

@theme {
  /* Font family */
  --font-heading: "Playwrite NZ Basic", cursive;
  --font-body: "Nunito", sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 flex min-w-80 min-h-screen font-body text-black;
}

/* Button  */
.button {
  @apply flex justify-center items-center h-12 px-6 text-sm rounded-xl font-heading uppercase tracking-[1px] hover:opacity-80 transition-opacity duration-300;
}

.button-primary {
  @apply bg-black text-white;
}

/* Input */
.input-wrap {
  @apply flex flex-col gap-1 w-full text-left;
}

.input {
  @apply text-sm w-full h-full border border-gray-600 px-4 py-3 rounded-lg;
}

.input-label {
  @apply text-sm text-left;
}
